                @media (max-width:450px) {
                .table-image {
                    display: none;
                }
                .container .table-social {
                    font-size: 10px;
                }
                .jumbotron-mobile {
                    display: none;
                }
               
            }
            
            @media (max-width:414px) {
                .container .table-social {
                    font-size: 10px;
                }
                .container .display-2 {
                    font-size: 60px;
                }
                .container .under-text {
                    font-size: 25px;
                }
                .nav-bar {
                    padding-right: 45px;
                }
                .table-bordered tr {
                    font-size: 13px;
                }
                .row .character-block {
                    height: 245px;
                }
                .row .character-block {
                    margin-bottom: 10px;
                }
                @media (max-width:375px) {
                    .container .table-social {
                        font-size: 3px;
                    }
                }
                @media (max-width:767px) {
                    .table-social {
                        font-size: 13px;
                    }
                    .row .character-block {
                        height: 245px;
                    }
                    .row .character-block {
                        margin-bottom: 10px;
                    }
                    .row .transparent-block-header {
                        font-size: 75px;
                    }
                    .row .test-header {
                        background-position: 0% 0%;
                    }
                }
