@media (max-width:450px) {
    .table-image {
        display: none;
    }
}

@media (max-width:360px) {
    .display-2 {
        font-size:50px;
    }
   .under-text {
    font-size: 200px;
}
    .nav-bar {
        padding-right: 45px;
    }
    .table-bordered tr {
        font-size: 13px;
    }
}
