body {
    background-color: #f6f6f6;
}


/*.background {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/html/img/Social/cross-over2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}*/

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.white {
    background-color: white;
}

.banner-p5 {
    box-shadow: 2px 2px 5px #888888;
}

.nav-bar {
    padding-top: 50px;
}

.display-2 a {
    color: white;
    text-decoration: none;
}

.nav-bar ul {
    padding-left: 0;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    font-size: 28px;
    padding-left: 35px;
}

.nav-bar ul li:hover {
    cursor: pointer;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    transition: color 0.20s ease-out;
    color: #E40A18;
    text-decoration: none;
}

@font-face {
    font-family: Persona5;
    src: url(jackfrost.ttf);
}

.card-text {
    font-size: 15px;
}

.info-block {
    height: 510px;
}

.block-text {
    color: white;
    text-align: center;
    font-family: Persona5;
    font-size: 30px;
}

.block-text:hover {
    font-size: 29px;
    cursor: pointer;
}

.transparent-block {
    background-color: rgba(0, 0, 0, 0.5);
}

.character-block {
    height: 500px;
    background-image: url(img/testfolder/p5cover2.jpg);
    background-size: cover;
    margin-bottom: 20px;
    background-position: 5%;
    box-shadow: 4px 4px 4px #888888;
}

.seperate-block-top {
    background-image: url(img/testfolder/p5test.jpg);
    background-size: cover;
    height: 245px;
    box-shadow: 4px 4px 4px #888888;
}

.seperate-block-bottom {
    background-image: url(img/testfolder/p5coversocial.jpg);
    background-size: cover;
    height: 245px;
    margin-top: 10px;
    box-shadow: 4px 4px 4px #888888;
    background-position: 45%;
}


/*#DEDEDE*/

.table-bordered tr {
    border: 1px solid #DEDEDE;
    text-align: center;
}

.table-bordered td {
    border: 1px solid #DEDEDE;
}

.table-bordered th {
    border: 1px solid #DEDEDE;
    text-align: center;
}

.test-table {
    /* Spare CSS styles if needed for test table */
}

.test-header {
    /*background-image: url(img/testfolder/p5test.jpg);*/
    background-color: #E82423;
    height: 155px;
    margin-bottom: 40px;
    background-size: cover;
    background-position: 20% 50%;
}

#progress {
    position: fixed;
    bottom: 0;
    right: 0;
 
}

#progress img {
    opacity: 0.9;
}

#progress:hover{
    cursor: pointer;
}

#progress-close {
    height: 15px;
    width: 15px;
    position:absolute;
    background-color: orange;
    margin-left:425px;
}



.thumb-holder {
    text-align: center;
}

.transparent-block-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: white;
    font-family: Persona5;
    text-align: center;
    font-size: 100px;
}

.jumbotron {
    font-family: Persona5;
    background-image: linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.6)), url(img/covers/persona.jpg);
    background-size: cover;
    background-position: 50% 20%;
}

.jumbotron-mobile {
    font-family: Persona5;
    background-image: linear-gradient(rgba(0, 0, 0, 3), rgba(0, 0, 0, 0.6)), url(img/covers/persona.jpg);
    background-size: cover;
    background-position: 50% 20%;
}

.under-text {
    font-size: 30px;
}

.d-flex {
    display: flex;
}

.card {
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px #888888;
}

.card-block p {
    padding: 0px 10px 15px 10px;
}

.table-image {}


/* Back to top functionality */

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: black url(img/up-arrow.png) no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}


/* Text CSS */

.title-underline {
    text-decoration: underline;
}


/* SOCIAL ELEMENTS */

.social-table {
    margin-bottom: 30px;
}

.social-img {
    margin-bottom: 40px;
}

.social-title {
    padding-left: 30px;
    padding-right: 30px;
}

.social-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.knowledge-img {
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.knowledge-title {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.knowledge-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.guts-img {
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.guts-title {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.guts-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.proficiency-img {
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.proficiency-title {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.proficiency-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.kindness-img {
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.kindness-title {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.kindness-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.charm-img {
    margin-top: 15px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.charm-title {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.charm-section {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.no-scroll {
    overflow-x: hidden;
}
